<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/maintabs/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Notifications</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <div *ngIf="(!userNotificationData)">
    <ion-item  lines="full" detail="true">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%;margin-top: 10px;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item  lines="full"  detail="true">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%;margin-top: 10px;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item  lines="full"  detail="true">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%;margin-top: 10px;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item  lines="full"  detail="true">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%;margin-top: 10px;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item  lines="full"  detail="true">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%;margin-top: 10px;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </div>
  
  
  <div *ngIf="(userNotificationData?.length === 0)"  style="display:flex;flex-direction:column; align-items: center;justify-content: center;height:100%;font-weight:600;color: #666666;">
    <div><ion-icon name="notifications-outline" style="font-size: 40px;margin-bottom: 10px;color: #666666;"></ion-icon></div>
    No Notifications Found!
  </div>

  <ion-item button *ngFor="let ntd of userNotificationData; index as i" detail="false" [ngClass]="{'unseen_class': ntd.status === 'unseen'}" style="---detail-icon-opacity:0.8">
      <ion-label class="noti-ttf">
        <h3 style="font-weight: 600;">{{ntd.message}}</h3>
        <p style="display: flex;align-items: center; margin-top: 8px;">
           <ion-icon name="calendar-outline" style="font-size:16px;"></ion-icon>&nbsp;&nbsp;
           <span style="font-size:12px; position: relative; top: 0px;font-weight:800;">{{ntd.date}}</span>
        </p>
  

      </ion-label>
  </ion-item>


</ion-content>

        <!-- <div style="margin: 2% 0px 0px; position:relative;">
          <span  style="font-size:18px; position: relative; top: 3px;">
            <ion-icon name="calendar-outline"></ion-icon></span>&nbsp;&nbsp;
            <span style="font-size:14px; position: relative; top: 0px;">{{ntd.date}}</span>
        </div> -->