<!-- <ion-header class="ion-no-border" style="position: ABSOLUTE;">
  <ion-toolbar style="--background: transparent;">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/login" style="color: #ffffff;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<!-- <ion-header mode="md" [translucent]="true" class="ion-no-border">
  <ion-toolbar style="--background:transparent;--min-height:100px;">
    <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
  </ion-toolbar>
</ion-header> -->


<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
      <!-- <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/login" style="color: #ffffff;"></ion-back-button>
      </ion-buttons> -->

      <!-- <div style="display: flex;position:absolute;left:0px;right:0px;top:0px;min-height: 100px;">
        <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
      </div>  -->
  </ion-toolbar>
</ion-header>





<ion-content  [fullscreen]="true"  style="--background: url('assets/login_background.png')  no-repeat center center fixed;">

  <!-- <ion-toolbar style="--background:transparent;padding: 8% 0 0 0;">
    <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
  </ion-toolbar> -->

  <ion-toolbar style="--background:transparent;">
    <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
  </ion-toolbar>


  
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar style="--background:transparent;">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="" style="color: #ffffff;"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar style="--background:transparent;">
      <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
    </ion-toolbar>
  </ion-header> -->




  <div style="position:relative;width:100%;">

    <div style="position: absolute;width:100%; top: 50%; left:50%; transform: translate(-50%, 10%);">
      <h1 style="color:#ffffff !important;text-align: center;">FORGOT PASSWORD</h1><br><br>
      <div style="width:92%; margin:auto;">
        <p style="color:#f5f5f5 !important;text-align:left;">
            Please enter your email address. You will receive a link to create a new password via email.</p>
      
      <form  [formGroup]="forgotForm"  (ngSubmit)="forgot_password()">
          <ion-grid><br>
            <ion-row style="width:100%;color: #ffffff;align-items: center;">

              <ion-col size="12">
                <ion-item mode="md" lines="full" style="position:relative;--background:transparent;--color:#ffffff;--padding-start:0px;--inner-padding-end:0px;
                                                 --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(255, 255, 255, 0.72))));">
                  <ion-icon name="mail-outline" class="ion-padding-end" style="font-size: 22px;color:#fff;"></ion-icon>
                  <ion-input type="text" placeholder="Email Address"  name="email" formControlName="email" requird></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                 <div *ngIf="(forgotForm.get('email').touched || submitted) &&  forgotForm.get('email').hasError('required')"  class="text-danger">Email address is required.</div>
                 <div *ngIf="(forgotForm.get('email').touched || submitted) &&  forgotForm.get('email').hasError('email')"  class="text-danger">Email address must be valid.</div>
              </ion-col>
            </ion-row><br><br>
          </ion-grid>
   
          <div>
            <ion-button mode="md" type="submit" shape="round" expand="block" style="--background:#FF0000;">Reset Password</ion-button>
          </div>
      </form>
      </div>
      <ion-item mode="md" button style="position:relative;--background:transparent;" (click)="goto_login()">
        <ion-label class="ion-text-center" style="color:#fe0a0a;font-weight:800;"><span>Go Back</span></ion-label>
      </ion-item>

    </div>
  </div>

</ion-content>

