<ion-header>
  <ion-toolbar>
    <ion-item lines="none" style="--inner-padding-end: 2px;">
      <ion-label slot="start" style="font-size:18px !important; font-weight:800;">Language</ion-label>
      <ion-buttons slot="end">
        <ion-button slot="icon-only" (click)="dismiss()" style="width: 50px;font-size: 20px;border-radius: 100%;">
          <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
