<!-- <ion-header mode="md" [translucent]="true" class="ion-no-border">
  <ion-toolbar style="--background:transparent;--min-height:100px;">
    <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
  </ion-toolbar>
</ion-header> -->


<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
      <!-- <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/login" style="color: #ffffff;"></ion-back-button>
      </ion-buttons> -->

      <!-- <div style="display: flex;position:absolute;left:0px;right:0px;top:0px;min-height: 100px;">
        <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
      </div>  -->
  </ion-toolbar>
</ion-header>





<ion-content  [fullscreen]="true" style="--background: url('assets/login_background.png')  no-repeat center center fixed;">
<!-- <ion-content style="--background: transparent;"> -->

  <ion-toolbar style="--background:transparent;">
    <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
  </ion-toolbar>
  
  <!-- <ion-toolbar style="--background:transparent;padding: 8% 0 0 0;">
    <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
  </ion-toolbar> -->

  
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar style="--background:transparent;">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="" style="color: #ffffff;"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar style="--background:transparent;">
      <div style="width: 60%; margin: auto;text-align:center;"> <img src="assets/logo.png"/> </div>
    </ion-toolbar>
  </ion-header> -->



<div style="position:relative;">
    <!-- <div style="width: 70%; margin: 35px auto 50px;text-align:center;"> <img src="assets/logo.png"/> </div> -->
    
    <div>
      <h1 style="color:#ffffff !important;text-align: center;">LOG IN</h1><br>
      <div style="width:92%; margin:auto;">
        <div style="margin: 20px 0px 20px;">
          <!-- <ion-button  mode="md" shape="round" expand="block" style="--background:#4867AA;" (click)="fbLogin_()">
            <ion-icon slot="start" src="assets/fb.svg"></ion-icon>Continue with Facebook
          </ion-button> -->
          <ion-button  mode="md" shape="round" expand="block" style="--background:#4867AA;">
            <ion-icon slot="start" name="logo-facebook"  style="font-size:1.6em;"></ion-icon>
            <ion-text style="font-size:16px;letter-spacing: normal;">&nbsp;Sign in with Facebook</ion-text>
          </ion-button>
        </div>
        <div>
          <ion-button  mode="md" shape="round" expand="block" style="--background:#D94D2E;" (click)="googleLogin()">
            <ion-icon slot="start" name="logo-google"  style="font-size:1.6em;"></ion-icon>
            <ion-text style="font-size:16px;letter-spacing: normal;">&nbsp;Sign in with Google</ion-text>
          </ion-button>
        </div>
      </div>  <br><br>



      <div style="opacity: 1;">  <!-- margin: 30px 2px 30px 2px; -->
        <div style="display:flex; justify-content: center; width:90%; margin:auto; position: relative;top: 0px;">
           <div style="border-bottom: 1.2px solid #717171; width:28%; position: relative;top: -8px;"></div>
           <div style="width:80px;text-align:center;color:#ffffff; width:42%;font-size:14px;font-weight:800;">OR WITH E-MAIL</div>
           <div style="border-bottom: 1.2px solid #717171; width:28%; position: relative;top: -8px;"></div>
        </div>
      </div>  <br><br>



      <div style="width:92%;margin:auto;">
      <form  [formGroup]="loginForm"  (ngSubmit)="user_login()">
          <ion-grid>
            <ion-row style="width:100%;color: #ffffff;align-items: center;">
               <ion-col size="12">
                <ion-item mode="md" lines="full" style="position:relative;--background:transparent;--color:#ffffff;--padding-start:0px;--inner-padding-end:0px;
                                                 --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(255, 255, 255, 0.72))));">
                  <ion-icon name="mail-outline" class="ion-padding-end" style="font-size: 22px;color:#fff;"></ion-icon>
                  <ion-input type="text" placeholder="Email Address"  name="email" formControlName="email" requird></ion-input>
                </ion-item>
               </ion-col>
               <ion-col size="12">
                 <div *ngIf="(loginForm.get('email').touched || submitted) &&  loginForm.get('email').hasError('required')"  class="text-danger">Email address is required.</div>
                 <div *ngIf="(loginForm.get('email').touched || submitted) &&  loginForm.get('email').hasError('email')"  class="text-danger">Email address must be valid.</div>
               </ion-col>

               <!-- <div  *ngIf="(loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').hasError('required')" class="text-danger">
                   <div>Email address is required.</div>
               </div>
               <div  *ngIf="(loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').hasError('email')" class="text-danger">
                   <div>Email address must be valid.</div>
               </div> -->
            </ion-row><br>

            <ion-row style="width:100%;color: #ffffff;align-items: center;">
              <ion-col size="12">
                <ion-item mode="md" lines="full" style="position:relative;--background:transparent;--color:#ffffff;--padding-start:0px;--inner-padding-end:0px;
                                                 --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(255, 255, 255, 0.72))));">
                  <ion-icon name="lock-closed-outline" class="ion-padding-end" style="font-size: 22px;color:#fff;"></ion-icon>
                  <ion-input type="password" placeholder="Password"  name="password" formControlName="password" requird></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <div *ngIf="(loginForm.get('password').touched || submitted) &&  loginForm.get('password').hasError('required')"  class="text-danger">Password is required.</div>
                <div *ngIf="(loginForm.get('password').touched || submitted) &&  loginForm.get('password').hasError('minlength')"  class="text-danger">Password must be at least 6 character.</div>
              </ion-col>

              <!-- <div  *ngIf="(loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').hasError('required')" class="text-danger">
                <div>Password is required.</div>
              </div> -->
              <!-- <div  *ngIf="(loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').hasError('pattern')" class="text-danger">
                <div>
                  <ul>
                    <li>Password should be alphanumeric</li>
                    <li>A letter of the password should be capital</li>
                    <li>Password must contain a special character (@, $, !, &, etc)</li>
                    <li>Password length must be greater than 7 characters</li>
                  </ul>
                </div>
              </div> -->
               <!-- <div *ngIf="submitted && f.password.errors" class="text-danger">
                <div *ngIf="f.password.errors.required">Password is required.</div>
                <div *ngIf="f.password.errors.pattern">
                  <ul>
                    <li>Password should be alphanumeric</li>
                    <li>A letter of the password should be capital</li>
                    <li>Password must contain a special character (@, $, !, &, etc)</li>
                    <li>Password length must be greater than 7 characters</li>
                  </ul>
                </div>
               </div> -->
           </ion-row>
          </ion-grid>
          <ion-label class="ion-float-right" style="text-align:right;color:#fe0a0a;font-size:15px;font-weight: 600;" (click)="goto_forgotPWD()">Forgot Password?</ion-label>


          
          <div><br><br><br><br>
            <ion-button mode="md" type="submit" shape="round" expand="block" style="--background:#FF0000;">Login</ion-button><br>
          </div>
      </form>
      <ion-item lines="none" mode="md"  style="position:relative;--background:transparent;--color:#ffffff;" (click)="goto_signup()">
        <ion-label class="ion-text-center"><span style="font-weight:500;">Don't have an account?</span>&nbsp;<span style="color:#fe0a0a;font-weight:800;">Free Sign-up</span></ion-label>
      </ion-item><br>
      </div>



    </div>
 
  
</div>
</ion-content>
