<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/maintabs/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <div *ngIf="(!dym_content)">
    <div style="margin-bottom: 60px;">
      <div style="height: 25px; width: 70%; border-radius:4px; margin-bottom:25px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div>
      <div style="height: 200px; width: 100%; border-radius:4px; margin-bottom:12px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div>
      <div style="height: 200px; width: 100%; border-radius:4px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div>
    </div>
    <div style="margin-bottom: 60px;">
      <div style="height: 25px; width: 70%; border-radius:4px; margin-bottom:25px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div>
      <div style="height: 200px; width: 100%; border-radius:4px; margin-bottom:12px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div>
      <div style="height: 200px; width: 100%; border-radius:4px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div>
    </div>
  </div>

  <div *ngIf="(dym_content)"style="margin: 2vh 0px;">
    <div *ngFor="let prv of dym_content">
       <h3 id="title" #title>{{prv.title}}</h3>
       <p id="description" #description [innerHTML]="prv.description"></p>
    </div>
  </div>
</ion-content>
