.h-arrow{
   text-align: center;
   margin-bottom:10%;
   div{
    font-size: large !important;font-weight:800;margin:0px !important;
   }
}

.priceDiv{
    text-align:center;
    font-weight:800;
    line-height:1.8;
    letter-spacing: 1px;
}

ion-slides{
    ion-slide{
        width: 280px;
    }
}
