<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/maintabs/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Change Password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div> <br>
    <ion-card mode="ios" *ngIf="(successCard === false)">
      <ion-card-content>
        <form [formGroup]="updatePWDForm"  (ngSubmit)="updatePassword()">
          <ion-grid>
            <ion-row style="width:100%;">
               <ion-col size="12">
                <ion-item  mode="md" lines="full" style="--padding-start:0px;--inner-padding-end:0px;--color:#333333;">
                  <ion-input type="password" minlength="8"  placeholder="Enter Old Password*"  name="old_password" formControlName="old_password" requird></ion-input>
                </ion-item>
               </ion-col>
               <ion-col>
                  <div *ngIf="(updatePWDForm.get('old_password').touched || submitted) &&  updatePWDForm.get('old_password').hasError('required')"  class="text-danger">Old Password is required.</div>
                  <div *ngIf="(updatePWDForm.get('old_password').touched || submitted) &&  updatePWDForm.get('old_password').hasError('minlength')"  class="text-danger">Old Password should be more than 6 character.</div>
               </ion-col>
            </ion-row> <br>

            <ion-row style="width:100%;">
              <ion-col size="12">
               <ion-item  mode="md" lines="full" style="--padding-start:0px;--inner-padding-end:0px;--color:#333333;">
                 <ion-input type="password" minlength="8" placeholder="New Password*"  name="password" formControlName="password" requird></ion-input>
               </ion-item>
              </ion-col>
              <ion-col>
                 <div *ngIf="(updatePWDForm.get('password').touched || submitted) &&  updatePWDForm.get('password').hasError('required')"  class="text-danger">Password is required.</div>
                 <div *ngIf="(updatePWDForm.get('password').touched || submitted) &&  updatePWDForm.get('password').hasError('minlength')"  class="text-danger">Password should be more than 8 character.</div>
              </ion-col>
            </ion-row> <br>

            <ion-row style="width:100%;">
              <ion-col size="12">
               <ion-item  mode="md" lines="full" style="--padding-start:0px;--inner-padding-end:0px;--color:#333333;">
                 <ion-input type="password"  placeholder="Confirm Password*"  name="password_confirmation" formControlName="password_confirmation" requird></ion-input>
               </ion-item>
              </ion-col>
              <ion-col>
                 <div *ngIf="(updatePWDForm.get('password_confirmation').touched || submitted) &&  updatePWDForm.get('password_confirmation').hasError('required')"  class="text-danger">Confirm Password is required.</div>
                 <div *ngIf="updatePWDForm.get('password_confirmation').errors?.['confirmPasswordValidator']" class="text-danger">Passsword and Confirm Password didn't match. </div>
              </ion-col>
            </ion-row>
          </ion-grid><br>

          <div>
            <ion-button mode="md" type="submit" shape="round" expand="block" style="--background:#FF0000;">Update</ion-button><br>
          </div>
      </form>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" *ngIf="(successCard === true)">
      <ion-card-header>
        <ion-card-title style="font-weight: 600; color: #5f5f5f;">Success.</ion-card-title>
      </ion-card-header>
      <ion-card-content> <br>
        <ion-toolbar style="--min-height:auto;border-radius: 4px;--background: transparent linear-gradient(142deg, rgba(39, 240, 157, 1) 0%, rgb(7, 173, 235) 100%) 0% 0%;--color:#fff;font-weight:600;">
          <ion-title size="small" style="padding-inline: 6px;padding: 8px;font-weight:600;">Password Changed Successfully.</ion-title>
        </ion-toolbar> <br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
