<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811413869838-kkci39p0nfiu1e454m0dm5p42qp1rt3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811413869838-kkci39p0nfiu1e454m0dm5p42qp1rt3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811413869838-bsak802hgeleh3fgshcb37pk49qvvqp9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYx4xYjRRaN8IG0wuCNo9C2usEGK6PRIA</string>
	<key>GCM_SENDER_ID</key>
	<string>811413869838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relaxationer.relaxt</string>
	<key>PROJECT_ID</key>
	<string>relaxationer-358106</string>
	<key>STORAGE_BUCKET</key>
	<string>relaxationer-358106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811413869838:ios:fe0f6fa4b2bb80205cb35f</string>
</dict>
</plist>